<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @tweet.url %>
</p>

<p>
  <strong>Favorites:</strong>
  <%= @tweet.favorites %>
</p>

<p>
  <strong>Retweets:</strong>
  <%= @tweet.retweets %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
